/* note... 
This css file is deprecated.
Please watch other css file 'style.css' 
*/

*{
    box-sizing: border-box;
}
#wrapper{
    max-width:68rem;
    margin:0 auto;
}
#header{
    display:block;
    text-align: center;
    padding: 4rem 0 2rem 0;
    color:rgba(255,255,255,0.5);
}
#header .avatar{
    display:inline-block;
    border-radius: 100%;
    border:1px solid rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.1);
    margin-bottom: 2rem;
    padding:0.5rem;
}
#header .avatar img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display:block;
}
#header h1{
    margin-bottom: 1rem;
    color:rgba(255,255,255,0.6);
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight:200;
}
#header h1 strong{
    color:white;
    font-weight: 200;
}
#header h1 a{
    text-decoration: none;
    color:rgba(255,255,255,0.5);
    border-bottom: 1px dotted rgba(255,255,255,0.5);
}
#header h1 a:hover{
    color:white;
}
#header ul.icons li{
    display: inline-block;
    border-radius: 100%;
    color:rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
    width:3rem;
    height:3rem;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    transition: all 0.2s ease;
}
#header ul.icons li:hover{
    border:1px solid rgba(255,255,255,0.25);
    background-color: rgba(255,255,255,0.3);
}
#header .icons li>a{
    background-color: rgba(255,255,255,0.1);
    text-decoration: none;
}
#header .icons .label{
    display: none;
}
#main .thumbnails{
    display: flex;
    flex-direction: row;
}
#main .thumbnails div{
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    flex-direction: column;
}
#main .thumbnails a{
    display: block;
    width:20em;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    margin-bottom: 2em;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 1px 0px rgba(255,255,255,0.3);
}
#main .thumbnails a:active:hover{
    transform: translateX(2px) translateY(2px);
    box-shadow:none;
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}
#main .thumbnails a:hover{
    box-shadow: 2px 2px 1px 0px rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}
#main .thumbnails img{
    width: 100%;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    display: block;
}
#main .thumbnails h3{
    text-align: center;
    padding: 0.8em;
    font-size: 1em;
    font-weight: 200;
    color:white;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-left:1px solid rgba(255,255,255,0.3);
    border-right:1px solid rgba(255,255,255,0.3);
    border-bottom:1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.1);    
}
#footer {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    font-weight: 200;
    font-size: 1em;
}
#footer p:before{
    content:'';
    display: block;
    width:10em;
    margin: 2em auto;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
#footer p{
    font-size: 1em;
    color: rgba(255,255,255,0.5);
}
#footer a{
    text-decoration: none;
    color:rgba(255,255,255,0.5);
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    transition: all 0.2s ease;
}
#footer a:hover{
    color:white;
}

@media(max-width:680px){
    #main .thumbnails {
      display: block;
    }
}